<!DOCTYPE html>
<html>
<body>

<h1>Wafer Fault Detection Page</h1>
<i>Before prediction don't forget to do the training</i>
<h3>Choose the folder to do prediction</h3>
<form action="/predict" method="POST">
  <input type="text" name="pred_folder" placeholder="E:\ml project\classification project\Wafer Fault Detection Project\Predicting_files\good_data"><br><br>
  <input type="submit">
</form>

<h3>Select the Folder to do training</h3>
<form action="/train" method="POST">
  <input type="text" name="paths" placeholder="enter path"><br><br>
  <input type="submit">
</form>
{{prediction}}
</body>
</html>





















